 
  


    

    
    
    h2 {
        background-color: rgb(55, 72, 78);
        color: blueviolet;
        border: 0px solid;
        border-radius: 55px;
        width:45%;
        text-align: center;
        box-shadow: 5px 5px 5px grey;
        
         
        
    } 

    

 

h3 {
    background-color: rgb(55, 72, 78);
    color: blueviolet;
    border: 0px solid;
    border-radius: 55px;
    width: 45%;
    text-align: center;
    box-shadow: 5px 5px 5px grey;
    font-size: 0.7cm;
    
    
}

section ol {
    background-color: rgba(123, 139, 46, 0.422);
    color: blueviolet;

    text-align: left;
    border: 0px solid grey;
    border-radius: 30px;
    width: 40%;
    box-shadow: inset 5px 5px 5px grey;
    bottom: 34%;
    transform: translate(1%,8%);
    font-size: .9cm;

}



section ul {
    background-color: rgba(123, 139, 46, 0.422);
    color: blueviolet;
    font-size: .9cm;
    text-align: left;
    border: 3px solid grey;
    border-radius: 30px;
    width: 40%;
    text-indent: 0%;
    box-shadow: inset 5px 5px 5px grey;

     



    
}

 img{
     padding: 10px;
     width: 40%;
     border-radius: 50px;
     border: 0px solid grey;
     box-shadow: inset 5px 5px 5px grey;
    
    
    

        
    

}
    body{
        background-color:rgba(163, 214, 167, 0.545) ;
        

            }
        .container {
            display: flex;
            justify-content: space-around;
        }
        
        
             


 
    




   
         
        
         

    





    
    


     
    

 
    



    
    
    







    


    
    
    
    
    



    




    

    
    
    
    
    




    

    






    
    
     






     

    
     
    
    









    

    
    
    



     



    
    

    


    


    
    
    


    
