 
  


    

    
    
    h2 {
        background-color: rgb(55, 72, 78);
        color: blueviolet;
        border: 0px solid;
        padding: 10px;
        border-radius: 55px;
        width:25%;
        text-align: center;
        box-shadow: 5px 5px 5px grey;
        position: relative;
        font-size: .7cm;
        margin-top: -25%;
        
    } 

    

 

h3 {
    background-color: rgb(55, 72, 78);
    color: blueviolet;
    border: 0px solid;
    padding: 10px;
    border-radius: 55px;
    margin: 40px auto;
    width: 25%;
    text-align: center;
    box-shadow: 5px 5px 5px grey;
    position: absolute;
    top: 20%;
    font-size: 0.6cm;
    
    
}

section ol {
    background-color: rgba(123, 139, 46, 0.422);
    color: blueviolet;

    text-align: left;
    border: 0px solid grey;
    border-radius: 30px;
    margin: 33px;
    width: 40%;
    margin-left: -1%;
    box-shadow: inset 5px 5px 5px grey;
    position: absolute;
    bottom: 34%;
    transform: translate(1%,8%);
    font-size: .9cm;

}



section ul {
    background-color: rgba(123, 139, 46, 0.422);
    color: blueviolet;
    font-size: .9cm;
    text-align: left;
    border: 3px solid grey;
    border-radius: 30px;
    margin: 10px;
    width: 40%;
    margin-left:-2%;
    text-indent: 0%;
    box-shadow: inset 5px 5px 5px grey;
    position: absolute;
    bottom:-25%;
    transform: translate(3%, 10%);
     



    
}

 img{
     padding: 10px;
     width: 40%;
     border-radius: 50px;
     margin-left:54%;
     margin-top:30%
    border: 0px solid grey;
    box-shadow: inset 5px 5px 5px grey;
    
    
    

        
    

     
     
    }
    body{
        background-color:rgba(163, 214, 167, 0.545) ;
        

            }
 
    




   
         
        
         

    





    
    


     
    

 
    



    
    
    







    


    
    
    
    
    



    




    

    
    
    
    
    




    

    






    
    
     






     

    
     
    
    









    

    
    
    



     



    
    

    


    


    
    
    


    
